html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 0;
    top: 0;
    background: #27ae60;
    transition: background .3s linear;
}

#open:hover {
    background: #2ecc71;
}
#close {
    bottom: 0;
    background: #c0392b;
}
#close:hover {
    background: #e74c3c;
}
.text {
    font-family: sans-serif;
    color: #fff;
    font-size: 48px;
}